.city-box{
    div{ border-bottom: 1px solid #999;}
    .title{
        display: flex;
        background-color: #eee;
        padding: 5px 20px;
        h1,h2{
            background-color: #eee;
            margin: 0;
            padding: 0;
        }
        h2{
            margin-left: 115px;
            margin-top:5px
        }
    }
    .text{
        padding:10px 20px ;
        background-color: #eee;
    }
    .textcity{
        padding:10px 20px ;
        background-color: #fff;
        font-size: 18px;
    }
}