.chat-box{
    margin: 50% auto;
    text-align: center;
    width: 300px;
    height: 230px;
    border: 1px solid #ccc;
    padding: 20px;
    font-size: 18px;
    >div:nth-of-type(1){
        img{
            width: 70px;
        }
    }
    span{
        color: green;
    }
    button{
        color: #fff;
        background-color: green;
        border: 1px solid green;
        padding: 5px;
        border-radius: 5px;
    }
}